//
// project misins
//

// Retina用に画像を0.5倍へ。
@mixin halfImg {
	img {
		zoom: 0.5;
	}
}

// 背景画像設定
@mixin bgImg($src) {
	@include linkButton;
	background: url($src) no-repeat;
	width: image-width($src);
	height: image-height($src);
}

//
// original mixins
//

// シングルカラムのページで読み込む
@mixin column-single() {
	#container article {
		width:100%;
		float:none;
	}
}

// 回りこみ解除
@mixin clearfix() {
	*zoom: 1;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

// inline-block hack
@mixin inline-block() {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

// link button
@mixin linkButton() {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	background-repeat: no-repeat;
	*zoom: 1;
}

// float box
@mixin floatBox() {
	@include clearfix;
	.left {
		float: left;
	}
	.right {
		float: right;
	}
	.other {
		overflow: hidden;
		*zoom: 1;
	}
}

// round corner
@mixin roundCorner() {
	.base {
		display: inline-block;
		*zoom: 1;
		border: 1px solid #fff;
		@include border-radius;
		line-height: 0;
		background-repeat: no-repeat;
		img {
			visibility: hidden;
		}
	}
}

// set font
@mixin font($size: 13px, $line: 16px) {
	font-size: ($size / 13px) * 1em;
	line-height: ($line / $size);
}

// fade by transitions
@mixin hidden {
	visibility: hidden;
	opacity: 0;
}
@mixin shown {
	visibility: visible;
	opacity: 1;
}

